
.main-body {
    /* padding-bottom: 17rem!important; */

}

body {
    overflow:auto;
    min-height: 100vh;
}

#root {
    height: 100vh;
}

.Home {
    height: 100vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* footer {
    position: relative;
} */


footer {
    margin-top: auto;
    bottom: 0;
    padding-top:20px;
  }

  /* .fixed-bottom {
    position: fixed;
    margin: auto;
    height: 100px;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
} */